<div class="container px-2 py-5 mx-auto">
        <div class="row justify-content-center">
          <div class="col-md-8 col-4 my-5">
            <div class="row justify-content-center px-3 mb-3">
              <img class="logo" src="../../../assets/waschach.jpeg">
              <img class="logo" src="../../../assets/whartkirchen.gif">
              <img class="logo" src="../../../assets/wpupping.png">
              <img class="logo" src="../../../assets/wstroheim.png">
            </div>
            <h3 class="mb-5 text-center heading">Wirtschaftshof Verwaltung</h3>

            <form [formGroup]="userData">
              <div class="row justify-content-center">

                <div class="col-sm-3">
                  <mat-label>Passwort</mat-label>
                  <input type="password" id="password" name="password" placeholder="Passwort" formControlName="password">
                </div>

                <div class="col-sm-3">
                  <mat-label>Benutzername</mat-label>
                  <input type="text" id="username" name="username" placeholder="username" formControlName="username">
                </div>

              </div>

              <div class="row justify-content-center">
                <div class="col-sm-4 mb-3">
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-sm-3">
                  <mat-label>Vorname</mat-label>
                  <input type="text" id="vorname" name="vorname" placeholder="Vorname" formControlName="firstname">
                </div>


                <div class="col-sm-3">
                  <mat-label>Nachname</mat-label>
                  <input type="text" id="nachname" name="nachname" placeholder="Nachname" formControlName="lastname"/>
                </div>

              </div>



                <div class="row justify-content-center">
                <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Birthdate</mat-label>
                  <input matInput [matDatepicker]="birthdatePicker"  formControlName="birthdate"/>
                  <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #birthdatePicker></mat-datepicker>
                </mat-form-field>
                </div>


                <div class="col-sm-3">
            <mat-form-field>
              <mat-label>Rolle</mat-label>
              <mat-select formControlName="role">
                <mat-option
                  *ngFor="let role of roles"
                  [value]="role.roleID"
                >
                  {{ role.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
                </div>


                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <mat-label>Email</mat-label>
                    <input type="text" id="email" name="email" placeholder="Mail" formControlName="email">
                  </div>

                  <div class="col-sm-3">
                    <button  (click)="register()" class="btn-block btn-color">Registrieren</button>
                  </div>
                  </div>

              </div>
            </form>

          </div>
        </div>

      </div>





