
.container{
  height: 100vh;
  width: 100vw;
}

h3, label{
  color:white;
}


input,
textarea {
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 12px 15px 12px 15px;
  width: 100%;
  box-sizing: border-box;
  border: none ;
  border: 1px solid #F3E5F5 ;
  font-size: 16px;
  color: white ;
  font-weight: 400
}

.card {
  border-radius: 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, #333333,#444444, #555555);
}

.logo {
  width: 70px;
  height: 55px
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #FFFFFF
}



.msg-info {
  padding-left: 15px;
  margin-bottom: 30px;
  color:white;
}

.btn-color {
  border-radius: 50px;
  color: black;
  background-color: lightgrey;
  padding: 15px;
  cursor: pointer;
  border: none ;
  margin-top: 40px;
}

.btn-color:hover {
  background-color: white;
}

a {
  color: #000
}



span{
  border-radius: 50px 0px 0px 50px;
}






